html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    perspective: 6px;
    perspective-origin: 50% 160px;
}


.palavras-home, .titulo-principal {
    transform-style: preserve-3d;
}
.foto-home {
    height: 200px;
    border-radius: 100px;
}

header {
    position: relative;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    font-size: 1.5em;
    padding: 2em;
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 2em;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em; 
    border: .2em solid black;
    width: 20ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    box-shadow: 0 0 1em #FFF, inset 0 0 .5em #FFF;
}

h1 {
    text-shadow: 5px 5px #000;
    font-size: 3em;
    text-transform: uppercase; 
}

.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    font-size: 3em;
    margin-bottom: .5em;
    text-shadow: 5px 5px #000;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: 10px solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
    position: relative;
}
.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.subtitulo-principal {
    font-size: 0.35em;
}
.inicio-post {
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 3em;
    right: 3em;
    padding: 1em; 
    height: 6em;
}

.palavra-home {
    position: absolute;
    font-weight: bold;
    color: #D5447E;
}

.eficiencia {
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px);
}

.boas-praticas {
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px);
    opacity: .3;
}

.codigo-limpo {
    top: 45%;
    left: 10%;
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px);

}

.css3 {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px);

}

.html5 {
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px);

}

.javascript {
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px);

}

.acessibilidade {
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px);
    opacity: .8;
}

.responsivo {
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3px);

}

.otimizacoes {
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px);

}

.agilidade {
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(1px);

}

.design {
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px);

}

.banner-twitter {
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;
    font-size: 1em;
    font-family: "Open Sans Condensed", sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(6.5754em, -2.4749em) rotate(45deg);
}

.palavras-home {
    perspective: 6px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.palavras-home li {
    font-size: 50%;

}

.foto-home {
    box-shadow: 0 0 1em #000;
}

