body {
    font-family: "Times New Roman";
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;

}

main {
    line-height: 1.5;
}
.titulo-principal { 
    font-size: 60px;
    background-color: #851944;
    color: #FAFFFA;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 20px;
    margin: 0;
    border-bottom: 10px solid #000;
    text-transform: uppercase;
}

main a {
    color: #851944;
}

main {
    float: left;
    width: 85%;
}

h2 {
    font-size: 30px;
    font-family: "Open Sans Condensed", sans-serif;
    text-align: justify;
    clear: both;
}


aside, img {
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    
}

aside {
    box-sizing: border-box;
    width: 15%;
    position: relative;
    top: 310px;
}
p {
    font-family: "Crimson Text", sans-serif;
    margin: 20px 0 20px 0;
}

.fiat {
    float: right;
}

.petrobras {
    float: left;
}
.citacoes {
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 20px 40px 20px 40px;
    box-sizing: border-box;
}

cite {
    font-style: italic;
    float: right;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
    font-family: "Open Sans Condensed", sans-serif;
}

.icones-sociais li {
    display: inline-block;
}

nav a {
    color: inherit;
    text-transform: lowercase;
    font-family: "Open Sans Condensed", sans-serif;
}

ul {
    list-style-type: none;
}
.footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    padding-bottom: 80px;
}

.titulo {
    font-size: 30px;
    margin-bottom: 25px;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

article {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.leia-mais {
    font-size: 20px;
    margin-bottom: 25px;
    background-color: #ddd;
    text-align: center;
    text-shadow: #3C1D3D;
    width:100%;
    padding: 5px;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;;
}

.github {
    background-image: url(github.png);
}

.twitter {
    background-image: url(twitter.png);
}

.linkedin {
    background-image: url(linkedin.png);
}