body {
    font-family: "Times New Roman";
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;

}

main {
    line-height: 1.5;
}
main h1 { 
    font-size: 60px;
    background-color: #851944;
    color: #FAFFFA;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 20px;
    margin: 0;
    border-bottom: 10px solid #000;;
}

main a {
    color: #851944;
}

h2 {
    font-size: 30px;
    font-family: "Open Sans Condensed", sans-serif;
    text-align: justify;
}

p {
    font-family: "Crimson Text", sans-serif;
    margin: 20px 0 20px 0;
}

blockquote {
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 20px 40px 20px 40px;
    box-sizing: border-box;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
    font-family: "Open Sans Condensed", sans-serif;
}

aside li {
    display: inline-block;
}

nav a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

ul {
    list-style-type: none;
}
footer {
    background-color: #000;
    color: #F2FFFC;
}

.container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 0;
}

.titulo {
    font-size: 30px;
    margin-bottom: 25px;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

